#header {
  position: fixed;
  top: top;
  left: 0px;
  right: 0px;
  background-color: #222222;
  color: #eeeeee;
  height: 70px; }

#content {
  padding-top: 70px;
  padding-bottom: 40px;
  overflow: scroll;
  background-color: white;
  color: #222222; }

#footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #222222;
  color: #eeeeee;
  height: 40px; }

.navList {
  list-style: none;
  padding: 0px; }
  .navList li {
    padding: 4px 10px 4px 40px;
    margin: 0px;
    min-height: 40px;
    background: url(/static/assets/icons/32x32/page.png) no-repeat 0 0;
    border-bottom: 10px red; }
